# <font color='blue'>Data Science Academy - Python Fundamentos - Capítulo 2</font>

## Download: http://github.com/dsacademybr

****** Este Jupyter Notebook foi atualizado para a versão 3.6.1 da Linguagem Python em 05/06/2017 ******

## Exercícios

In [4]:
# Exercício 1 - Imprima na tela os números de 1 a 10

for i in (1,2,3,4,5,6,7,8,9,10):
    print (i)

1
2
3
4
5
6
7
8
9
10

In [7]:
# Exercício 2 - Crie uma lista de 5 objetos e imprima na tela
lst = ['obj1','obj2','obj3','obj4','obj5']
for item in lst:
    print(item)

obj1
obj2
obj3
obj4
obj5

In [6]:
# Exercício 3 - Crie duas strings e concatene as duas em uma terceira string
str1='abc'
str2='def'
str3 = str1+str2
print (str3)

abcdef

In [9]:
# Exercício 4 - Crie uma tupla com os seguintes elementos: 1, 2, 2, 3, 4, 4, 4, 5 e depois utilize a função count do 
# objeto tupla para verificar quantas vezes o número 4 aparece na tupla
tp=(1,2,3,4,4,4,5)
tp.count(4)

3

In [12]:
# Exercício 5 - Crie um dicionário com 3 chaves e 3 valores e imprima na tela
dict ={'k1':1,'k2':2,'k3':3}
dict.items()

dict_items([('k1', 1), ('k3', 3), ('k2', 2)])

In [18]:
# Exercício 6 - Adicione mais uma ferramenta ao dicionário criado no exercício anterior e imprima na tela
dict.update({'k4':4})
dict.items()

dict_items([('k1', 1), ('k3', 3), ('k2', 2), ('k4', 4)])

In [20]:
# Exercício 7 - Crie um arquivo chamado nomes.txt no diretório onde está este notebook, grave 5 nomes no arquivo e 
# feche-o.
file =open('nomes.txt','w')
t1=('nome1','nome2','nome3','nome4','nome5')
for i in t1:
    file.write(i)
    file.write('\n')
file.close()

In [21]:
# Exercício 8 - Abra o arquivo criado no item anterior e leia o arquivo na tela.
file =open('nomes.txt','r')
for lin in file:
    print(lin)

nome1

nome2

nome3

nome4

nome5

In [22]:
# Exercício 9 - Crie um dicionário vazio e imrpima na tela
dict={}
dict.items()

dict_items([])

In [33]:
# Exercício 10 - Complelete o trecho de código abaixo criado com Pandas e use a função tail() para ler os últimos 
# elementos do dataset.
import pandas as pd
file_name = "binary.csv"
df = pd.read_csv(file_name)
df.head(2)

   admit  gre   gpa  rank
0      0  380  3.61     3
1      1  660  3.67     3

In [34]:
df.tail(2)

   admit  gre   gpa  rank
3      1  640  3.19     4
4      0  520  2.93     4

In [35]:
df.tail()

   admit  gre   gpa  rank
0      0  380  3.61     3
1      1  660  3.67     3
2      1  880  4.00     1
3      1  640  3.19     4
4      0  520  2.93     4

# Fim

### Obrigado - Data Science Academy - <a href=http://facebook.com/dsacademy>facebook.com/dsacademybr</a>