# <font color='blue'>Data Science Academy - Python Fundamentos - Capítulo 2</font>

## Download: http://github.com/dsacademybr

****** Este Jupyter Notebook foi atualizado para a versão 3.6.1 da Linguagem Python em 05/06/2017 ******

## Exercícios

In [1]:
# Exercício 1 - Imprima na tela os números de 1 a 10
lista = [1,2,3,4,5,6,7,8,9,10]
print(lista)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [2]:
# Exercício 2 - Crie uma lista de 5 objetos e imprima na tela
lista = ['chocolate', 'maça', 'abacaxi', 'uva', 'morango']
print(lista)

['chocolate', 'maça', 'abacaxi', 'uva', 'morango']

In [3]:
# Exercício 3 - Crie duas strings e concatene as duas em uma terceira string
frase1 = 'Se beber '
frase2 = 'não dirija!'
frase_final = frase1 + frase2
print(frase_final)

Se beber não dirija!

In [4]:
# Exercício 4 - Crie uma tupla com os seguintes elementos: 1, 2, 2, 3, 4, 4, 4, 5 e depois utilize a função count do 
# objeto tupla para verificar quantas vezes o número 4 aparece na tupla
tup1 = (1, 2, 2, 3, 4, 4, 4, 5)
tup1.count(4)

3

In [5]:
# Exercício 5 - Crie um dicionário com 3 chaves e 3 valores e imprima na tela
dict = {'k1':'martelo', 'k2':'serrote', 'k3':'machado'}
print(dict)

{'k1': 'martelo', 'k2': 'serrote', 'k3': 'machado'}

In [6]:
# Exercício 6 - Adicione mais uma ferramenta ao dicionário criado no exercício anterior e imprima na tela
dict['k4'] = 'parafuso'
print(dict)

{'k1': 'martelo', 'k2': 'serrote', 'k3': 'machado', 'k4': 'parafuso'}

In [7]:
# Exercício 7 - Crie um arquivo chamado nomes.txt no diretório onde está este notebook, grave 5 nomes no arquivo e 
# feche-o.
arq1 = open("nomes.txt", "w")
arq1.write('Brian, Peter, John, Eric, Bernard')
arq1.close()

In [8]:
# Exercício 8 - Abra o arquivo criado no item anterior e leia o arquivo na tela.
arq1 = open("nomes.txt", "r")
arq1.read()

'Brian, Peter, John, Eric, Bernard'

In [9]:
# Exercício 9 - Crie um dicionário vazio e imrpima na tela
dict2 = {}
print(dict2)

{}

In [10]:
# Exercício 10 - Complelete o trecho de código abaixo criado com Pandas e use a função tail() para ler os últimos 
# elementos do dataset.
import pandas as pd
file_name = "binary.csv"
df = pd.read_csv(file_name)
df.tail()

   admit  gre   gpa  rank
0      0  380  3.61     3
1      1  660  3.67     3
2      1  880  4.00     1
3      1  640  3.19     4
4      0  520  2.93     4

# Fim

### Obrigado - Data Science Academy - <a href=http://facebook.com/dsacademy>facebook.com/dsacademybr</a>